Wordle+/data
Wordle+/django/djangoproject/__pycache__
Wordle+/django/djapi/__pycache__
Wordle+/django/djapi/migrations/
Wordle+/ionic/ionic-app/src/env.json
Wordle+/ionic/ionic-app/src/assets/words.json
